<nav id="nav-bar">
    <div class="logo">
        <img src="images/poke-logo.png" alt="Pokemon logo">
    </div>
    <ul class="list">
        <li><a href="/">Home</a></li>
        <li><a href="/all-pokemon">Search</a></li>
    </ul>
</nav>