<div id="home">
    <div class="container-home">
        <img src="images/pika.gif" alt="">
    </div>
    <div class="list">
            <a class="button-home" href="/all-pokemon">Find Pokemon</a>
    </div>
</div>